@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

/* --- Colors

bleu      : #0065FC
bleuclair : #DEEBFF
gris      : #F2F2F2
*/

/* ------------ TESTS --------------------*/




/* --- Bandeau de Menu ---*/

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;


}
#menu img{

    padding-top: 16px;
}
#navbar {
    margin: 32px;
}
#navbar a {
    padding: 32px;
    text-decoration: none;
    color: black;
}
#navbar .active {
    border-top: #0065FC solid 2px;
    color: #0065FC;
    font-weight: 600;

}
#navbar #logon {
    color: #0065FC;
    font-weight: bolder;
    text-decoration: none;


}

#navbar #logon:hover {
    text-decoration: underline;
}

/* --- Bandeau demi-Titres --- */

#header-description {
    line-height: 0.4em;
}

#header-description h3 {
    font-weight: 900;
}

#header-description h4 {
    font-weight: 100;
    font-size: small;
}

/* --- Menu de Recherche --- */

/* --- Filtres --- */
#filters {
    display: flex;
    flex-direction: column;
}

#filters-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#filters-list h4 {
    padding-right: 0.4em;
    font-size: 0.8rem;
}


#many-available {
    margin-top: 0;
    margin-bottom: 2%;
    font-size: smaller;
}

/* --- Contenu de la page --- */

#hebergement {

    min-width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 30px;
    margin-right: 40px;
    font-size: 0.9em;
}

#hebergement > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-shrink: 1;
    flex-grow: 1; */
    flex-wrap: wrap;

    margin-bottom: 20px;

}
#hebergement figure {

    border: white 4px solid;
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 2px 2px 3px #F2F2F2;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 180px;
    max-width: 270px;
    height: 160px;
    margin: 0;

    box-shadow: 1px 1px 5px grey;
}
#hebergement figcaption {
    height: 50%;
    padding-left: 10px;
    padding-top: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.4em;
    flex-shrink: 1;
    flex-grow: 1;

}
#hebergement h3 {
    margin: 0;
    font-weight: 900;
}


#hebergement figure > div {

    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

#hebergement img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    object-fit: cover;

    height: 130px;
    width: 100%;

    position: relative;
    top: -15px;

}

#hebergement a {
    
    margin-top: 5%;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: 900;
}
#hebergement a:hover {
    text-decoration: none;
    color: black;
    transform: scale(1.1);
}

                                        /* Partie 'les plus populaires'  */
#most-popular {
    min-width: 280px;
    max-width: 25%;
    background-color:#f2f2f2;
    border-radius: 5%;

    padding: 20px 30px;
    margin-right: 40px;
}
#most-popular > div {

    display: grid;
    grid-template: repeat(3, 1fr) / 100%;
    row-gap: 30px;
}

#most-popular h2 {

    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}
#most-popular figure {

    grid-column-start: 1;
    grid-row: auto;
    align-self: center;

    background-color: #FFF;
    border-radius: 20px;
    padding: 3px;

    display: grid;
    grid-template: 100% / 40% 1fr;

    margin: 0px;
    box-shadow: 2px 2px 5px grey /* A CORRIGER  - Pour avoir un aperçu des ombres - mauvaise couleur*/
}
#most-popular img {
    grid-column: 1 / 2;
    object-fit: cover;

    width: 100%;
    height: 120px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
#most-popular figcaption {
    padding-left: 15px;

    display: grid;
    grid-template: 20% 15% 1fr 10% 10% / 100%;
}

#most-popular figcaption h3 {
    grid-row: 1 / 3;

}
#most-popular figcaption p {
    grid-row: 3 / 4;
    
}
#most-popular figcaption div {
    grid-row: -2 / -3;
    
}

#activities {
    margin: 2%;
    margin-left: 4%;
    width: 100%;

    box-sizing: border-box;

}

#activities div {

    height: 350px;

    display: grid;
    grid-template: 45% 10% 10% 35% / repeat(4, 21%);
    column-gap: 3%;

    justify-items: center;

}

#activities figure {
    border-radius: 20px;
    font-weight: 900;
    box-shadow: 2px 2px 10px grey;
    margin: 0;

    display: grid;
    grid-template: 1fr 50px / 100%;
}


#activities img {

    object-fit: cover;

    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    grid-row: 1 / 2;

    overflow: hidden;

}
#activities figcaption {

    grid-row: 2 / 3;

    box-sizing: border-box;
    background-color: #FFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#activities figcaption h3 {
    text-indent: 20px;
    padding-top: 1%;
    font-size: 1em;
    font-weight: bold;
}

#activities .big {
    grid-row: 1 / 5;
}
#activities #pomègues {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
#activities #frioul {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
#activities #notre-dame {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
#activities #longchamp {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
}

/* --- Classes --- */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 0.9em;
    margin-left:  4%;

}
.container h2 {
    margin: 20px 0 30px 0;
}



.search {                               /* Barre de Recherche */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.search label {                         /* Icone de localisation */
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 13px 15px;
}
.search input {                         /* Zone de texte */
    height: 38px;
    border: solid #F2F2F2 1px;
    padding: 0;
    font-weight: 900;
    padding-left: 10px;
}
.search button {                        /* Bouton Rechercher */
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: #0065FC solid 1px;

    height: 40px;
    padding: 0 15px;
}

@media all and (min-width:768px)
{
    .search button .fa-search {
        display: none;
    }
}

.filters-btn {                          /* Bouton de Filtre */
    padding: 0 1.2em 1em 0;
    margin: 1.5% 0.5%;
    background-color: #FFF;
    border: 2px solid #F2F2F2;
    border-radius: 40px 40px 40px 40px;
    font-weight: 900;
    max-height: 40px;

}
.filters-btn span {                     /* Icones des boutons de filtre*/
    padding: 10px;
    margin-right: 0.4em;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 100%;
    position: relative;
    left: -2px;
    top: -1px;
}

.i-info {
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    color: #0065FC;
    padding: 0.1em 0.4em;
}

.good-star {            
    color: #0065FC;
}

.bad-star {
    color: #DEEBFF;
}
.font-bold {
    font-weight: 900;
}
.align-stars {
    display: grid;
    grid-template: 1fr / repeat(5, 14px) 1fr;
    font-size: 0.7rem;
}
.align-stars div {
    grid-column: auto;
}


body {

    margin-top: 2px;

    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

header {
    margin-left: 4%;
}

footer {

    position: relative;
    bottom: 0;
    left: 0;
    padding: 1rem 1.4rem;
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    font-size: 12px;
    line-height: 1.4rem;


}

footer div {

    display: flex;
    flex-direction: column;
    margin-left: 4%;
    padding-right: 15%;
}

footer h5 {

    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bolder;
}
