@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Raleway', Arial, sans-serif;
}

footer {
    background-color: grey;
    width: 100%;
}