@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

/* --- Colors

bleu      : #0065FC
bleuclair : #DEEBFF
gris      : #F2F2F2
*/

/* ------------ TESTS --------------------*/

.test-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, 15%);
}


.divtest {

    border: black 3px solid;

    text-align: center;
    font-weight: bolder;
    font-size: 40px;

    grid-column: 1 / span 2;
    grid-row: 1 / span 3;

}

.divtest-two {
    border: black 3px solid;

    text-align: center;
    font-weight: bolder;
    font-size: 40px;

    grid-column: 4/6;

}


/* --- Bandeau de Menu ---*/

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#menu img{

    padding-top: 16px;
}
#navbar {
    margin: 32px;
}
#navbar a {
    padding: 32px;
    text-decoration: none;
    color: black;
}
#navbar .active {
    border-top: #0065FC solid 2px;
    color: #0065FC;
    font-weight: 600;

}
#navbar #logon {
    color: #0065FC;
    font-weight: bolder;
    text-decoration: none;
}
#navbar #logon:hover {
    text-decoration: underline;
}

/* --- Bandeau demi-Titres --- */

#header-description {
    line-height: 0.4em;
}

#header-description h3 {
    font-weight: 900;
}

#header-description h4 {
    font-weight: 100;
    font-size: small;
}

/* --- Menu de Recherche --- */

/* --- Filtres --- */
#filters {
    display: flex;
    flex-direction: column;
}

#filters-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#filters-list h4 {
    padding-right: 0.4em;
    font-size: 0.8rem;
}


#many-available {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: smaller;
}

/* --- Contenu de la page --- */

#hebergement {

    margin-right: 2%;
    max-width: 65%;
    background-color: #F2F2F2;
    padding: 3%;
    border-radius: 5%;

    overflow: hidden;   /* Fonctionnel mais optimal ?? */
}
#hebergement div {
    display: flex;
    justify-content: space-around;
    flex-shrink: 1;

}
#hebergement figure {

    border: white 4px solid;
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 2px 2px 3px #F2F2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 25%;


}

#hebergement img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

    width: 100%;
}

#most-popular {

    width: 40%;
    background-color:#f2f2f2;
    border-radius: 5%;

}

#activities {
    text-indent: 3%;
    margin: 2%;
    width: 100%;
}

/* --- Classes --- */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container aside {
    padding: 4%;
    border-radius: 20%;
    background-color: #F2F2F2;
}

.search {                              /* Barre de Recherche */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.search button {                        /* Bouton Rechercher */
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    border: #0065FC solid 1px;
}



.filters-btn {                  /* Bouton de Filtre */
    padding: 0 1em 0 0;
    margin: 1.5% 0.5%;

    background-color: #FFF;
    
    border: 2px solid #F2F2F2;
    border-radius: 40px 40px 40px 40px;

    font-weight: 900;

}
.filters-btn span {         /* Icone du bouton de filtre*/
    padding: 0.7em;
    margin-right: 0.4em;
    color: #0065FC;
    background-color: #DEEBFF;

    border: 1px solid #DEEBFF;
    border-radius: 100%;
}

.i-info {
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    color: #0065FC;
    padding: 0.1em 0.4em;
}


body {

    margin-left:  4%;

    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

footer {

    position: relative;
    bottom: 0;
    left: 0;
    padding: 1rem 1.4rem;
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    font-size: 12px;
    line-height: 1.4rem;

}

footer div {

    display: flex;
    flex-direction: column;
    margin-left: 4%;
    padding-right: 15%;
}

footer h5 {

    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bolder;
}
