/* --- Bandeau de Menu ---*/

#menu {
    flex-wrap: wrap;
}
#menu img{
    margin-left: 16px;
}

#navbar {
    margin: 7% 0;
    width: 100%;
    display: flex;
    text-align: center;
}
#navbar a {
    padding: 12px 32px;
    border-bottom: #F2F2F2 solid 2px ;
    width: 50%;
}
#navbar .active {
    border-top: 0;
    border-bottom: #0065FC solid 2px;
    color: #0065FC;
    font-weight: 600;
}
#navbar #logon {
    position: absolute;
    top: 32px;
    right: 16px;
    width: auto;
    border: none;
    padding: 0;
    color: #0065FC;
}
/* --- Bandeau demi-Titres --- */



#header-description {
    line-height: 1.2rem;
    margin: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
#header-description h3 {
    font-weight: 700;
    margin: auto;
    margin-right: 15% ;
    width: 85%;
    font-size: 1.4em;
}
#header-description h4 {
    margin-top: 3%;
}

#filters {
    margin: 0 20px;
}
#filters-list {
    padding-top: 20px;
    flex-wrap: wrap;
}
#filters-list h4 {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
}
#filters p {
    font-size: 1em;
}
#many-available {
    display: flex;
    margin: 20px 5px;
}
#many-available span {
    margin: 0 10px auto 10px;
}

/*  Contenu de la page */

#most-popular {
    order: 1;
    border-radius: 0;
    box-sizing: border-box;

    padding: 20px;
    margin-right: 0;
    margin-left: 0;

    min-width: auto;
    max-width: 100%;
}

#most-popular > div {
    justify-items: center;
}

#most-popular figure {
    box-sizing: border-box;

    max-width: 300px;
    width: 100%;
}
#most-popular figcaption {
    padding-right: 20px;
}

#hebergement {
    order: 2;
    background-color: #FFF;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
#hebergement > div {
    flex-direction: column;
    margin: 0;
}
#hebergement figure {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}
#hebergement a {
    align-self: flex-start;
    font-weight: 700;
}

#activities {
    margin-top: 70px;
    box-sizing: border-box;
}
#activities div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
    height: auto;
}
#activities figure {
    max-width: 300px;
    min-width: 250px;
    width: auto;
    margin: 15px;
    box-sizing: border-box;
}
#activities .big {
    height: 160px;
}
#activities #pomègues {
    height: 160px;
}
#activities #frioul {
    height: 160px;
}
#activities #notre-dame {
    height: 160px;
}
#activities #longchamp {
    height: 160px;
}

.search {
    display: grid;
    grid-template: 40px / 40px 65% 40px;
}
.search label {
    grid-column: 1/2;
}
.search input {
    grid-column: 2/3;
}
.search button {
    grid-column: 3/4;
    width: 40px;
    border-radius: 20%;
}
.search button .fa-search {
    text-align: center;
}
.search button #text {
    display: none;
}

.container {
    flex-wrap: wrap;
    margin-left: 0;
}

.container h2 {
    font-size: 18px;
}

.align-stars {
    grid-template: 100% / repeat(5, 14px) 1fr;
}

body {
    margin: 0;        
}
header {
    margin-left: 0;
}

footer {
    flex-direction: column;
    font-size: 1.0em;
}



@media all and (min-width:450px)        /* --- Mobile Version Large --- ( Between 450 px and 678 px ) -- */
{
    .search {
        grid-template: 40px / 40px 80% 40px;
    }

    #navbar #logon {
        font-size: 1.2em;
    }
    #header-description {
        justify-content: center;
        padding: 20px;
    }

    #most-popular figure {
        max-width: 400px;
    }

    #hebergement {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around
    }
    #hebergement h2 {
        width: 100%;
    }
    #hebergement > div {
        width: 40%;
    }

    #hebergement > div:nth-child(4) {
        width: 100%;
        align-self: flex-start;
        padding-left: 30px;
    }

}